* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bfeaf5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #86e5ff;
}

main {
  background-color: white;
  box-shadow: 3px 3px 6px #3c4048;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}

article {
  padding: 1rem;
}

#mainDashboard {
  width: 70%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 0rem 1rem 0rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 50px;
}

.card img {
  width: 120px;
  height: 170px;
  border-radius: 12px;
  margin: 0.25rem;
  flex: 1 0 50px;
  box-shadow: 3px 3px 6px #3c4048;
  transition: all 0.5s;
  cursor: pointer;
}

.card img:hover {
  width: 125px;
  height: 175px;
}

.card:nth-child(1) img:hover {
  box-shadow: 0 0 3px 1.5px #0096ff, 0 0 6px 3px #00d7ff;
  transition: all 0.5s;
}

.card:nth-child(2) img:hover {
  box-shadow: 0 0 3px 1.5px #e5e5cb, 0 0 6px 3px #d5cea3;
  transition: all 0.5s;
}

.card:nth-child(3) img:hover {
  box-shadow: 0 0 3px 1.5px #bface2, 0 0 6px 3px #a084dc;
  transition: all 0.5s;
}

.card:nth-child(4) img:hover {
  box-shadow: 0 0 3px 1.5px #86e5ff, 0 0 6px 3px #0081c9;
  transition: all 0.5s;
}

.card:nth-child(5) img:hover {
  box-shadow: 0 0 3px 1.5px #f0997d, 0 0 6px 3px #a75d5d;
  transition: all 0.5s;
}

.result {
  display: flex;
  justify-content: flex-start;
  padding: 0.1rem 3rem;
  flex: 1 0 50px;
}

.result p {
  display: flex;
  text-align: center;
  justify-content: center;
  flex: 1 0 20px;
  width: 120px;
  padding: 0rem 1rem;
}

p {
  font-size: small;
}

.feels,
#feelsHeader {
  color: #3c4048;
  font-size: small;
}


h3,
h2 {
  padding: 1rem 0rem 1rem 0rem;
  font-size: medium;
}

.header h3 {
  padding: 0;
}

.wheatherLogo {
  position: relative;
  bottom: 20%;
  width: 50px;
  height: 50px;
}

#cityInfo {
  background-color: #00005c;
  background-image: url("../images/cloudbg.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 0 15px 15px 0;
  width: 30%;
  text-align: center;
}

#cityInfo h3,
#cityInfo p {
  color: white;
}

#cityInfo .currentTemp {
  font-size: 5rem;
}

#cityInfo img{
  width: 70px;
  height: 67px;
  border-radius: 50%;
  box-shadow: 0 0 1.5px .75px #00005c, 0 0 3px 1.5px #450ce0;
}

.maxmin {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#cityInfo p {
  padding: 0.75rem 0.5rem;
  font-size: 1.15rem;
}

#devInfo {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}