* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bfeaf5;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: white;
  box-shadow: 3px 3px 6px #3C4048;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}

article {
  padding: 1rem;
}

#cityInfo {
  background-color: #6e85b7;
  border-radius: 0 15px 15px 0;
  width: 30%;
}

#mainDashboard {
  width: 70%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 50px;
}

img {
  width: 150px;
  height: 200px;
  border-radius: 12px;
  margin: 0.25rem;
  flex: 1 0 50px;
  box-shadow: 3px 3px 6px #3C4048;
}

.result {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 3rem;
  background-color: tomato;
}

.result p {
  display: flex;
  background-color: #6e85b7;
  justify-content: flex-start;
  padding: 0.1rem 2rem;
}